<div class="error" style="text-align: center">
  <h1 style="font-size: 100px">404</h1>
  <h2 style="font-size: 50px">Page Not Found</h2>
  <p style="font-size: 20px">
    The page you are looking for might have been removed, had its name changed,
    or is temporarily unavailable.
  </p>
  <a href="/home" style="font-size: 20px">Go to Home</a>
</div>
