<section class="main-container contact-page">
  <article>
    <p><b>Address:</b> 4700 Keele St, Toronto, ON M3J 1P3, Canada</p>
    <br />
    <br />
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2880.8963797753904!2d-79.49640418533095!3d43.7750097525649!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b2e3d72641121%3A0x96c25c3a7982a89d!2s4700%20Keele%20St%2C%20North%20York%2C%20ON%20M3J%201P3%2C%20Canada!5e0!3m2!1sen!2s!4v1664196312075!5m2!1sen!2s"
      width="75%"
      height="400"
      style="border: 1px solid black"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </article>
</section>
