<section class="main-container welcome-note">
  <article>
    <h1>Welcome to the Public E-Library</h1>
    <br />
    <p>
      Public E-Library presenting you 100 of books to read online.People can
      click on the navigation links to explore more about Public E-Library.
    </p>
  </article>
</section>
