<section class="main-container survey-form">
  <form>
    <article class="input-group">
      <section class="section-left">
        <label class="form-label">Name</label>
      </section>
      <section class="section-right">
        <input type="text" class="form-input" id="txtname" name="txtname" />
      </section>
    </article>
    <article class="input-group">
      <section class="section-left">
        <label>Date of Birth</label>
      </section>
      <section class="section-right">
        <input type="date" class="form-input" id="txtdob" name="txtdob" />
      </section>
    </article>
    <article class="input-group">
      <section class="section-left">
        <label
          >How likely is it that you recommend this library to your
          friends?</label
        >
      </section>
      <section class="section-right">
        <input
          type="radio"
          class="form-radio"
          name="recommend"
          id="very_likely"
        />
        <label for="very_likely">Very likely</label>
        <input
          type="radio"
          class="form-radio"
          name="recommend"
          id="somewhat_likely"
        />
        <label for="somewhat_likely">Somewhat likely</label>
        <input
          type="radio"
          class="form-radio"
          name="recommend"
          id="not_likely"
        />
        <label for="not_likely">Not likely</label>
      </section>
    </article>
    <article>
      <button>Submit</button>
    </article>
  </form>
</section>
